:root {
    --primary-color: #0b3b8f;
    --secondary-color:#0b3b8f;
    --accent1-color: #ffffff;
    --accent2-color: #ffffff;
    --border-color: #ccc;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    background-color: #f5f7fa;
}

/*  HEADER */
header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 15px 0;
}

.header-grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    width: 130px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 25px;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/*  HERO SECTION - Main Page */
.hero {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 5.35rem;
}

/* COMPANY INFO OVERLAY BOX SECTION - Main Page */

.hero article {
    position: absolute;                
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    padding: 20px;
    background: rgba(255,255,255,0.95);
    max-width: 900px;
    width: 90%;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.hero article img {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    float: right;
}

.hero article h3 {
    margin-bottom: 10px;
    font-family: var(--heading-font);
    color: #000;
    font-size: 1.35rem;
    max-width: 500px;
}

.hero article p {
    line-height: 1.5;
    color: #222;
    font-size: 1.35rem;
    max-width: 500px;
}

/*  HISTORY SECTION  - Main Page */
.history-section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
}

.history-section h2 {
    text-align: center;
    font-family: var(--heading-font);
    margin-bottom: 20px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
    align-items: center;
}

.history-grid img {
    width: 100%;
}

/*  ADVENTURE SECTION - Main Page */
.adventure-section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
}

.adventure-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--heading-font);
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    text-align: center;
}

.adventure-grid img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    background: #ddd;
}

/*  CONTACT US - Contact Us Page  */
.main-contact {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;

}

.contact-us {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.contact-us h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/*  CONTACT GRID - MAP AND FORM - Contact Us Page  */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    text-align: center;
}

/*  MAP - Contact Us Page  */
.map {
    margin: 10px; 
    max-width: 600px;
    border-radius: 4px;
    border: 2px solid var(--border-color);
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

/*  CONTACT FORM - Contact Us Page  */
.contact-form {
    margin-top: 30px;
    padding: 20px 0;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.contact-form input, 
.contact-form select, 
.contact-form textarea {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
}

/*  RADIO BUTTONS ON THE FORM - Contact Us Page  */
.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-item {
    display: flex;
    align-items: center; 
    gap: 8px;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border: none;
    font-size: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #072d6b;
}


/*  EMPLOYEE SECTION - Contact Us Page  */
.employee-section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
}

.employee-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--heading-font);
}

.employee-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    text-align: center;
}

.employee-grid img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    background: #ddd;
}

/*  FOOTER  */
footer {
    max-width: 900px;
    margin: 40px auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    color: white;
}

footer p {
    margin-left: 3%;
}

.socialmedia {
    display: flex;
    gap: 16px;
    margin-right: 3%;
}
