:root {
    --primary-color: #0d49b9;
    --secondary-color: #136994;
    --accent1-color: #ffffff;
    --accent2-color: #ffffff;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: var(--body-font);
}

/* by using a comma it targets all three (the header, main, and footer) */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

h2 {
    background-color: var(--secondary-color);
}

.history {
    color: #000000;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

nav {
    color: var(--accent1-color);
}

/* the descendent selector (.socialmedia a) only applies to anchor tags (a) that are children of the elements within socialmedia */
.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 180px;
    left: 20px;
    right: 20px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.85);
}

.hero article p {
    width: 70%;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.hero article img {
    width: 160px;
    height: auto;
    border: 4px solid white;
    box-shadow: 0 0 10px rgba(183, 52, 52, 0);
    float: right;
}

.hero h1 {
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff;
}

.socialmedia {
    color: var(--secondary-color);
}

.navigation {
    color: var(--accent1-color);
}


/* white text to make sure there is enough contrast */