* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: darkblue;
    padding: 10px
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: darkblue;
    padding: .5rem;
}

main {
    max-width: 640px;
}

main img{ 
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 110px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}