.callout {
    max-width: 100%;
    margin: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    background-color: rgb(37, 76, 134);
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0 10px 20px;
    border: 2px solid #000;
    padding: 5px;
    background-color: #bbb;
    width: 100px;
    height: auto;

}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 2px dashed #fff;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
}